.brend {
    background: #000;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
}

@media (max-width: 1000px) {
    .brend {
        padding: 30px 15px;
    }
    .brend img{
        width: 90px;
        height: 30px;
    }
}