.banner {
    background: #000;
    color: #fff;
    padding: 5px 100px;
    position: relative;
}

.hide{
    display: none;
}

.banner .text {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.banner .text a{
    color: #fff;
    text-decoration: none;
    border-bottom: 1.8px solid #fff;
}

.banner .x {
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 130px;
}



@media (max-width: 930px) {
    .banner {
        padding: 5px 50px;
    }
}
@media (max-width: 700px) {
    .banner .x {
        display: none;
    }
}
@media (max-width: 480px) {
    .banner {
        padding: 10px;
    }
    .banner .text{
        font-size: 12px;
    }
}